@model IEnumerable<EmployeeView>
@{
    ViewBag.Title = "Список сотрудников";
}

<a asp-action="Edit" class="btn btn-success">Добавить</a>
<hr />
<table class="table table-bordered">
    <thead>
        <tr>
            @if ( User.IsInRole( "Administrator" ) )
            {
                <th></th>
            }
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Отчество</th>
            <th>Возраст</th>
            <th>Детали</th>
            @if ( User.IsInRole( "Administrator" ) )
            {
                <th>Удалить</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach ( var item in Model )
        {
            <tr>
                @if ( User.IsInRole( "Administrator" ) )
                {
                    <td><a asp-action="Edit" asp-route-id="@item.id"><i class="fa fa-edit"></i></a></td>
                }
                <td>@item.FirstName</td>
                <td>@item.SurName</td>
                <td>@item.Patronymic</td>
                <td>@item.Age</td>
                <td><a asp-action="Details" asp-route-id="@item.id">Детали</a></td>
                @if ( User.IsInRole( "Administrator" ) )
                {
                    <td><a asp-action="Delete" asp-route-id="@item.id"><i class="fa fa-cut"></i></a></td>
                }
            </tr>
        }
    </tbody>
</table>

